
<div class="col-4 columns no-padding cd-edit-form" style="margin-top:20px;">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>

<div class="col-12 columns no-padding">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>

