<div class="col-8 columns no-padding">
    <div class="col-6 columns cd-edit-form" style="margin-top:20px;">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>

    <div class="col-12 columns">
        <div class="cd-update-form">
            <%= f.submit %>
        </div>
    </div>
</div>