<tr>
  <td><%= link_to role.name, devx.edit_portal_role_path(role) %></td>
  <td>
    <%= link_to 'Edit', devx.edit_portal_role_path(role) %>
    <%= link_to 'Delete', devx.portal_role_path(role), method: :delete, data: { confirm: "Are you sure you want to delete #{role.try(:full_name)}?" } %>
  </td>
</tr>