<% provide(:title, 'Edit ' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <%= link_to 'Back to Roles', devx.portal_roles_path %>
      <%= form_for @role, url: devx.portal_role_path(@role) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>