<tr>
  <td><%= number_to_currency product_sku.price %></td>
  <td><%= product_sku.active %></td>
  <td>
  	<%= link_to 'Edit', devx.edit_portal_product_product_sku_path(@product, product_sku) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  	<%= link_to 'Delete', devx.portal_product_product_sku_path(@product, product_sku), method: :delete, data: { confirm: "Are you sure you want to delete this SKU" } %> <i class="fa fa-trash" aria-hidden="true"></i>
  </td>
</tr>
