/**
Branding

primary
#084269

secondary
#ACCC38


**/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,300,500);

/** GRID **/
.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.row::before, .row::after{
  display:table;
  content:" ";
}

.row::after {
  clear:both;
}

.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  float: left; }

.no-padding {
    padding:0!important;
}

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%;; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0 !important; }

.col-offset-1 {
  margin-left: 8.33333% !important; }

.col-offset-2 {
  margin-left: 16.66667% !important; }

.col-offset-3 {
  margin-left: 25% !important; }

.col-offset-4 {
  margin-left: 33.33333% !important; }

.col-offset-5 {
  margin-left: 41.66667% !important; }

.col-offset-6 {
  margin-left: 50% !important; }

.col-offset-7 {
  margin-left: 58.33333% !important; }

.col-offset-8 {
  margin-left: 66.66667% !important; }

.col-offset-9 {
  margin-left: 75% !important; }

.col-offset-10 {
  margin-left: 83.33333% !important; }

.col-offset-11 {
  margin-left: 91.66667% !important; }



body {
  padding:0;
  margin:0;
  font-family:"Raleway", sans-serif;
  letter-spacing:0.05rem;
}

div {
  display:block;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
}

a {
  text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
  color:#084269;
}

h1 {
  padding-bottom:0.5em;
  border-bottom:1px solid #CCCCCC;
}

table {
    border-spacing: 0px;
}

.primary {
    background-color:#084269;
}

.secondary {
    background-color:#accc38;
}

.accent {
    background-color:#d9dde3;
}

.divider {
    background-color:#cccccc;
}

.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}



.has-children ul {
  display:none;
}

.child-nav {
  display:none;
  background-color:#CCCCCC;
}

.child-nav.active {
  display:block;
}


.cd-login {
  max-width:300px;
  margin:0 auto;
  text-align: center;
  margin-top:10%;
}

.cd-login a {
    color:#084269;
}

.cd-login-bkrd {
    background-color:#d9dde3;
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}

.field input[type=email],.field input[type=password] {
    margin:4px 0;
    padding:10px;
    font-size:1rem;
    max-width:300px;
    width:100%;
    box-sizing:border-box;
}

.logo img {
    width:100%;
}

.actions input[type=submit] {
    margin:4px 0;
    max-width:300px;
    width:100%;
    font-size:1rem;
    font-weight:600;
    color:#084269;
    padding:12px 20px;
    box-sizing:border-box;
    background-color:#accc38;
    border:none;
    -webkit-transition: background-color .6s; /* Safari */
    transition: background-color .6s;
}

.actions input[type=submit]:hover {
    color:#accc38;
    background-color:#084269;
    cursor: pointer;
}

/**
  HEADER
**/

.cd-main-header {
  background-color:#084269;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing:antialiased;
}

.cd-logo {
  display:block;
  margin:11px 0px 0px 5%;
  float:left;
}

a.cd-logo {
  color:#ffffff;
}

.cd-nav {
  display:none;
}

.cd-side-nav {
  padding:80px 0px 0px;
  background:#D9DDE3;
  max-height:100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  visibility:hidden;
  overflow:hidden;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
}

.cd-side-nav ul {
  padding:0;
  margin:0;
}

.cd-side-nav li {
  list-style:none;
}

.content-wrapper {
  position:relative;
}


/** DESKTOP **/
@media only screen and (min-width:768px) {
  .cd-logo {
    margin:17px 0px 0px 36px;
    font-size:1.4rem;
  }

  .cd-main-header {
    position:fixed;
    height:60px;
  }

  .cd-nav {
    display:block;
    height:100%;
    float:right;
  }

  .cd-top-nav {
    height:100%;
  }

  .cd-top-nav > li {
    display:inline-block;
    margin-right:1em;
    height:100%;
  }

  .cd-top-nav > li:last-of-type {
    margin-right:0;
  }

  .cd-top-nav > li a {
    padding:1em 0.8em;
    color:#ffffff;
    font-size:1rem;
  }

  .cd-horizontal-accordion {
  }

  .cd-horizontal-accordion > .cd-accordion-tab {
    display:inline-block;
    height:100%;
    border-left:1px solid #CCCCCC;
    box-sizing:border-box;
    -wekit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    float:left;

  }

  .cd-accordion-tab > .cd-accordion-title, .cd-accordion-tab > .cd-accordion-body {
    display:inline-block;
  }

  .cd-accordion-tab > .cd-accordion-title {
    padding:15px 15px 0px;
    color:#ffffff;
    float:left;
    cursor:pointer;
  }

  .cd-accordion-tab > .cd-accordion-title:last-of-type {
    padding:20px 15px 0px;
  }

  .cd-accordion-tab > .cd-accordion-title .fa {
    display:block;
    font-size:2rem;
    text-align:center;
  }

  .cd-accordion-tab > .cd-accordion-body {
    background-color:#ffffff;
    width:0;
    height:100%;
    float:right;
    overflow:hidden;
    white-space:nowrap;
    opacity:0;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
}

  .cd-accordion-body a {
    color:#084269;
    font-size:0.8rem;
  }

  .cd-accordion-body a:hover {
    color:#ACCC38;
  }

  .cd-accordion-tab:hover {
    background-color:#ACCC38;
  }

  .cd-accordion-tab:hover > .cd-accordion-body {
    padding:10px;
    width:200px;
    opacity:1;
  }

  .cd-side-nav {
    padding-top:80px;
    width:110px;
    min-height:100vh;
    max-height:none;
    position:relative;
    top:auto;
    visibility:visible;
    overflow:visible;
    float:left;
  }

  .cd-side-nav a {
    display:block;
  }

  .cd-side-nav .cd-label {
    display:none;
  }

  .cd-side-nav ul > li {
    text-align:center;
    border-bottom:1px solid #CCCCCC;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .cd-side-nav .fa {
    display:block;
    font-size:2rem;
  }

  .cd-side-nav ul > li a {
    padding:1em;
    color:#084269;
    font-size:0.9rem;
    font-weight:500;
  }

  .cd-side-nav ul > li span {
    display:none;
  }

  .cd-side-nav ul > li a.active, .cd-side-nav ul > li a:hover {
    border-right:4px solid #084269;
  }


  .cd-side-nav ul > li:hover a {
    color:#FFFFFF;
  }

  .cd-side-nav ul > li:hover a {
    background:#ACCC38;
  }

  .child-nav li a {
    font-size:0.8rem!important;
  }

  .content-wrapper {
    padding:6em 4em;
    margin-left:110px;
    min-height:100vh;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
  }

  .cd-main-footer {
    padding:4em 0em;
    font-size:0.6rem;
    text-align:center;
  }

  .cd-main-footer a {
    display:initial;
  }
}



@media only screen and (min-width:1170px) {
  .cd-side-nav {
    width:200px;
  }

  .cd-side-nav .cd-label {
    display:block;
    padding:1em 18px;
    color:#757575;
    font-size:0.7rem;
    font-weight:700;
    text-align:left;
    text-transform:uppercase;
  }

  .cd-side-nav ul > li span {
    display:initial;
  }

  .content-wrapper {
    margin-left:200px;
  }
}

/* #EDIT FORMS */

.cd-edit-form {
    display: inline-block;
    margin:5px 0;
}

.cd-edit-form input {
    margin:4px 0;
    padding:10px;
    font-size:1rem;
    width:100%;
    box-sizing:border-box;
}

.cd-edit-form select {
    margin:4px 0;
    padding:20px 10px;
    font-size:1rem;
    width:100%;
    box-sizing:border-box;
}

.cd-update-form input[type=submit] {
    margin:20px 0;
    max-width:300px;
    width:100%;
    font-size:1rem;
    font-weight:600;
    color:#084269;
    padding:12px 20px;
    box-sizing:border-box;
    background-color:#accc38;
    border:none;
    -webkit-transition: box-shadow 0.4s; /* Safari */
    transition: box-shadow 0.4s;
    border-radius:20px;
}

.cd-update-form input[type=submit]:hover {
    cursor: pointer;
    border-radius:20px;
    box-shadow: 2px 2px 8px #888888;
}

.select2 {
    width:100%;
}

/* #TOGGLE SWITCH*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}