.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

h1.page-title {
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 900;
  margin: 4rem 0;
}

#content {
  padding:10px 0px 60px;
}

.search-result {
  padding-bottom:20px;
  border-bottom:1px solid #cccccc;
}
