.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

#devx_admin_header .header {
  padding:8px 0px;
  border-bottom:1px solid #e9e9e9;
}

#devx_admin_footer {
  padding:8px 0px;
  border-top:1px solid #e9e9e9;
}

#devx_admin_nav {
  padding:8px 0px;
  margin-bottom:initial;
}

#devx_admin_nav li {
  display:inline-block;
  margin-right:40px;
  margin-bottom:0;
}

#devx_branding_logo {
  margin-bottom:10px;
  max-width:250px;
  max-height:75px;
}

#content {
  padding:10px 0px 60px;
}
