.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.flexbox {
  display:flex;
  display:-webkit-flex;
  flex-wrap:wrap;
  flex-direction:row;
  -webkit-flex-direction:row;
}

.flexbox .flex {

}

h1.page-title {
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 900;
  margin: 4rem 0;
}

#content {
  padding:10px 0px 60px;
}

.search-result {
  padding-bottom:20px;
  border-bottom:1px solid #cccccc;
}


.calendar-event.datebar {
  background-color:#DDDDDD;
  border-bottom:1px solid #384967;
}

.calendar-event.month {
  display:inline-block;
  padding:10px;
  margin:0;
  background-color:#AAAAAA;
  color:#fff;
  font-weight:100;
}

.calendar-event.event-title {
  padding:12px;
  color:#fff;
}

.simple-calendar .calendar-heading {
  display:none!important;
}

.simple-calendar th {
  padding:10px!important;
  text-align:center;
}

.simple-calendar .day {
  padding:12px!important;
}

.calendar-navigation > div {
  display:inline-block;
  padding:14px 0px;
}

.next-link {
  float:right;
}

.notify {
  padding:18px 0px;
  margin-bottom:40px;
  font-size:1.8rem;
  text-align:center;
}

ul.event-list,
li.event-listing {
  margin-left: 0.5rem;
}

.container.ecommerce-padded-container {
  padding:60px 0px;
}

.ecommerce-product {
  padding:40px 0px;
  text-align:center;
}

.ecommerce-product-name {
  font-weight:600;
  font-size:1.7em;
}

.ecommerce-price-text {
  padding:4px 0px;
  font-size:1.8rem;
}

.notification {
  text-align:center;
}

.container.alert {
  padding:15px 0px;
  background-color:#ff0000;
  color:#ffffff;
  text-align:center;
  font-weight:600;
}
