<% provide(:title, 'Edit Urgent Message') %>
<div class="container">
  <div class="row">

    <div class="medium-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>

    <div class="medium-12 columns">
      <%= form_for @urgent_news, url: portal_urgent_news_path(@urgent_news) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>

  </div>
</div>