<% provide(:title, 'Create ' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12">
      <%= link_to 'Back to media', devx.portal_media_path %>
      <%= form_for @medium, url: devx.portal_media_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>