<% provide(:title, 'Create ' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
      <%= link_to 'Back to Media', devx.portal_media_path %>
    </div>
    <div class="col-12 columns">
      <%= form_tag devx.portal_media_path, method: :post, id: 'media-dropzone', class: 'dropzone' do %>
        <div class="fallback">
          <%= file_field_tag :file %>
        </div>
      <% end %>
    </div>
  </div>
</div>