<% @attributes[:announcements].try(:each) do |announcement| %>

	<div style="margin-top: 10px;" class="large-12 medium-12 small-12 columns">

		<div class="large-12 medium-12 small-12 columns no-padding">
			<h3 style="font-family:Lato; font-weight:600;"><%= announcement.title %></h3>
			<h6 style="font-family:Lato; font-weight:400;"><%= announcement.created_at.strftime("%m-%d-%Y | %l:%M%p") %></h6>
			<p style="font-size:16px; font-family:Lato; font-weight:600; margin-bottom: 30px;"><%= announcement.content %></p>
			<hr/>
		</div>

	</div>

<% end %>