<% if @attributes[:article].present? %>
  <% @title = nil %>
  <% title_array = @attributes[:article].title.try(:split, ' ') %>
  <% title_array.try(:take, 10).each do |word| %>
      <% @title = "#{@title} " + word %>
  <% end %>

  <% @text = nil %>
  <% text_array = @attributes[:article].content.try(:split, ' ') %>
  <% text_array.try(:take, 30).each do |word| %>
      <% @text = strip_tags("#{@text} " + word) %>
  <% end %>

  <div class="article-single-post-title"><%= @title %><% if title_array.count > 10 %>...<% end %></div>
  <div class="article-single-post-datetime"><%= @attributes[:article].published_at.try(:strftime, '%m/%d/%Y') %></div>

  <p class="article-single-post-content"><%= @text %><% if text_array.count > 30 %>...<% end %></p>
  <% @attributes[:category] != 'Announcments' %>
    <%= link_to 'Read More <i class="hvr-icon-bob" aria-hidden="true" style="top:-12px;"></i>'.html_safe, "/news/#{@attributes[:article].slug}" %>
  <% end %>
<% end %>