<ul id="event-list" style="margin-bottom:20px">
    <% @attributes[:events].sort_by{|s| s.start_time }.try(:each) do |schedule| %>
        <%= "<li class=\"event\">
        <div class=\"event-square\">
            <div class=\"event-date\">
                <h6 class=\"event-month\">#{schedule.start_time.try(:strftime, '%b')}<br />
                    <span class=\"event-number\">#{schedule.start_time.try(:strftime, '%d')}</span>
                </h6>
            </div>
        </div>
        <div class=\"event-text\">
            <p class=\"event-title\">#{schedule.event.name.try(:upcase)}</p>
            <p class=\"event-desc\">#{schedule.start_time.try(:strftime, '%l:%M %p')}</p>
            <p class=\"event-desc\">#{schedule.event.venue.try(:upcase)}</p>
        </div>
    </li>".html_safe %>
    <% end %>
</ul>
