<table width="100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
  <% counter = 0 %>
  <% @attributes[:events].try(:each) do |schedule| %>
    <% if counter < @attributes[:limit].to_i %>
      <% if schedule.event.try(:tag_list).to_s == @attributes[:category].to_s %>
        <tr>
          <td><%= schedule.start_time.to_datetime.try(:strftime, '%m/%d %I:%M%P') %></td>
          <td><%= schedule.event.name %></td>
        </tr>
        <% counter += 1 %>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
