<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'role', collection: @roles %>
        </tbody>
      </table>
      <%= link_to 'Add role', new_admin_role_path %> 
    </div>
  </div>
</div>