<div class="container banner-404" style="background-image:url('/uploads/devx/medium/file/000/000/002/nola-headshot-for-web.gif');background-position:right 65%">
    <div class="row">
        <div class="large-12 columns">
            <h3>What a Doggone Shame.</h3>
            <p>This page cannot be found.</p>
            <a>Go Back</a>
        </div>
    </div>
</div>

