<div class="container banner-404">
    <div class="row">
        <div class="large-12 columns">
            <h3>What a Doggone Shame.</h3>
            <p>This page cannot be found.</p>
            <a>Go Back</a>
        </div>
    </div>
</div>