<div class="container banner-404">
    <div class="row">
        <div class="large-4 columns">
        	<h3>What a Doggone Shame.</h3>
            <p>This page cannot be found.</p>
            <a>Go Back</a>
        </div>

        <div class="large-8 container banner-404 columns" style="background-image:url('/uploads/devx/medium/file/000/000/003/nola-headshot-for-web-white.gif');">
        </div>

    </div>
</div>

