<div class="container">
  <div class="row">
    <div class="large-12">
      <h1>Create <%= controller_name.classify %></h1>
    </div>
    <div class="large-12">
      <%= link_to 'Back to articles', devx.admin_articles_path %>
      <%= form_for @article, url: devx.articles_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>