<div class="container">
  <div class="row">
    <div class="large-12">
      <h1>Edit <%= controller_name.classify %></h1>
    </div>
    <div class="large-12">
      <%= link_to 'Back to members', devx.admin_members_path %>
      <%= form_for @member, url: devx.admin_member_path(@member) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>