<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= controller_name.classify.pluralize %></h1>
    </div>
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'member', collection: @members %>
        </tbody>
      </table>
      <%= link_to 'Add Member', new_admin_member_path %> 
    </div>
  </div>
</div>