<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= controller_name.classify.pluralize %></h1>
    </div>
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'medium', collection: @media %>
        </tbody>
      </table>
      <%= link_to 'Add Media', new_admin_medium_path %> 
    </div>
  </div>
</div>