<% provide(:title, 'Create ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <%= link_to 'View all Support Tickets', devx.portal_tickets_path %>
      <%= form_for @ticket, url: devx.portal_tickets_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>