<tr>
  <td><%= page.name %></td>
  <td>
    <%= link_to 'Edit', fullstack.edit_admin_page_path(page) %>
    <%= link_to 'Delete', fullstack.admin_page_path(page), method: :delete, data: { confirm: "Are you sure you want to delete #{page.name}?" } %>
  </td>
</tr>