<div class="container">
  <div class="row">
    <div class="large-12">
      <h1>Create <%= controller_name.classify %></h1>
    </div>
    <div class="large-12">
      <%= link_to 'Back to pages', :back %>
      <%= form_for @page, url: fullstack.admin_page_path(@page) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>