<% provide(:title, 'Privacy Policy') %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-10 columns">
    <h4>JCW Productions Website Privacy Policy</h4>

        <p style="margin:0 0 .5rem 0; max-width:1000px;">JCW Productions, LLC (“us”, “we”, or “our”) operates <a href="http://www.JCWProductions.com" target="_blank">http://www.JCWProductions.com</a> (the “Website”). This page is intended to inform you of our policies regarding the collection, use and disclosure of Personally Identifiable Information (“Personal Information”) we receive from users of the Website.</p>

        <p style="margin:0 0 .5rem 0;">We use your Personal Information only for providing and improving the Website. By using the Website, you agree to the collection and use of Personal Information in accordance with this policy.</p>

        <h4>Information Collection And Use</h4>
        <p style="margin:0 0 .5rem 0;">While using our Website, we may ask you to provide us with certain Personal Information that can be used to contact or identify you. Personal Information may include, but is not limited to your name, email address, and phone number.</p>
    
        <h4>Log Data</h4>
        <p style="margin:0 0 .5rem 0;">Like many Website operators, we collect information that your browser sends whenever you visit our Website ("Log Data"). This Log Data includes, but is not limited to: your computer's Internet Protocol ("IP") address; browser type; browser version; the pages of our Website that you visit; the time and date of your visit; the time spent on those pages; and other statistics.</p> 
    
        <h4>Cookies</h4>
        <p style="margin:0 0 .5rem 0;">Cookies (also known as web cookies, Internet cookies, or browser cookies) are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a Website and stored on your computer's hard drive.</p>
        <p style="margin:0 0 .5rem 0;">Like many sites, we use cookies to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Website.</p>
    
        <h4>Security</h4>
        <p style="margin:0 0 .5rem 0;">The security of your Personal Information is of tantamount importance to us, and we will strive to use all commercially available and acceptable means to protect your Personal Information. However, we cannot guarantee absolute security as no transmission of information over the Internet or method of electronic storage is 100% secure.</p> 

        <h4>Changes To This Privacy Policy</h4>
        <p style="margin:0 0 .5rem 0;">JCW Productions, LLC may update this Privacy Policy from time to time. We will notify users of changes by posting the new Privacy Policy on the Website. Users are advised to review this Privacy Policy periodically for any changes.</p>
    
        <h4>Contact Us</h4>
        <p>If you have any questions about this Privacy Policy, please <a href="https://jcwproductions.com/#contact-us" target="_blank">contact us</a>.</p>
    </div>
  </div>
</div>
