<% obj.each do |product| %>
  <tr>
    <td> <%= link_to product.name, product_path(product), style:'color: #fff !important' %> </td>
    <td style = "color: #fff;"> <%= product.description %> </td>

    <% Devx::ProductSku.where(product: product).try(:each) do |sku| %>
    	<td style = "color: #fff;"> <%= number_to_currency sku.price %></td>
    <% end %>

  </tr>
<% end %>