<tr>
  <td><%= ldate account_transaction.created_at %></td>
  <td><%= account_transaction.person.full_name %></td>
  <td><%= account_transaction.person.school_id %></td>
  <td><%= account_transaction.cardholder %></td>
</tr>