<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th># of items</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'menu', collection: @menus %>
        </tbody>
      </table>
      <%= link_to 'Add Menu', new_portal_menu_path %> 
    </div>
  </div>
</div>