<div class="large-<%= field.field_size %> columns cd-edit-form">
  <%= f.label "#{field.name}" %>
  <%= f.text_field "#{field.name}", data: { price: field.options }, class: 'purchase-field', required: field.required %>
</div>
