<% provide(:title, 'Manage Extracurriculars') %>
<div class="container">
  <div class="row">

    <div class="medium-8 columns">
      <h1><%= yield(:title) %></h1>
    </div>

    <div class="medium-4 columns">
        <%= link_to '<i class="fa fa-plus"></i> New'.html_safe, new_portal_extracurricular_path %>
    </div>

    <div class="medium-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Extracurricular</th>
            <th># of Students</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'extracurricular', collection: @extracurriculars %>
          <tr>
            <td colspan="4" style="text-align:right"><%= "Total: #{ @extracurriculars.count } extracurriculars" %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="container">
    <div class="row full-width">

    </div>
</div>

