<% provide(:title, 'New Extracurricular') %>
<div class="container">
  <div class="row">
    <div class="medium-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="medium-12 columns">
      <%= form_for @extracurricular, url: portal_extracurriculars_path do |f| %>
        <% if @extracurricular.errors.any? %>
              <ul>
                <% @extracurricular.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>
