<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
	<div class="row">

		<div class="col-12 columns">
			<h1><%= yield(:title) %></h1>
		</div>

		<div class="col-12 columns" style="padding-bottom:20px;">
			<i class="fa fa-map-signs" aria-hidden="true"></i> <%=link_to 'Create Announcement', devx.new_portal_announcement_path %>

			<div style="float:right;">
				<span style="padding:0; 10px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i> </span>
				<span style="padding:0; 10px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i> </span>
			</div>
		</div>

		<div class="col-12 columns">
			<table>
				<thead>
					<tr>
						<th>Content</th>
						<th>Date</th>
						<th>&nbsp</th>
					</tr>
				</thead>

				<tbody>
					<%= render partial: 'announcement', collection: @announcements %>
				</tbody>
			</table>
		</div>
						
	</div>
</div>
