<% provide(:title, 'Submission for ' + @registration.name) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 columns">
    	<table>
    		<thead>
    			<th>Field</th>
    			<th>Input</th>
    		</thead>
    		<tbody>
		    	<% @registration_submission.submission_content.try(:each) do |key, value| %>
		    		<tr>
		    			<td><%= key.try(:humanize) %></td>
		    			<td style="text-align:left"><%= value %></td>
		    		</tr>
		    	<% end %>
    		</tbody>
    	</table>
    </div>
  </div>
</div>
