<tr>
    <td><%= page.name %></td>
    <td>
    <%= link_to 'Edit', devx.edit_portal_page_path(page) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <%= link_to 'Delete', devx.portal_page_path(page), method: :delete, data: { confirm: "Are you sure you want to delete #{page.name}?" } %>  <i class="fa fa-trash" aria-hidden="true"></i>
    </td>
</tr>
