<% provide(:title, 'Edit ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12">
      <%= link_to 'Back to Layouts', devx.portal_layouts_path %>
      <%= form_for @layout, url: devx.portal_layout_path(@layout) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>