<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= controller_name.classify.pluralize %></h1>
    </div>
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Active</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'calendar', collection: @calendars %>
        </tbody>
      </table>
    </div>
    <div class="large-4">
      <%= link_to 'Create Calendar', devx.new_admin_calendar_path %>
    </div>
  </div>
</div>