<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= @calendar.name %> Calendar</h1>
    </div>
    <div class="large-12 columns">
      <h3>Events</h3>
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @calendar.events.try(:each) do |event| %>
            <tr>
              <td><%= link_to event.name, edit_admin_calendar_event_path(calendar_id: @calendar.id, event: event) %></td>
              <td><%= event.start_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="large-4">
      <%= link_to 'Create Event', devx.new_admin_calendar_event_path(@calendar) %>
    </div>
  </div>
</div>