
<div class="container">
	<div class="row">

		<div class="col-12 columns">
			<h1>Class Schedules</h1>
		</div>

		<div class="col-12 columns" style="padding-bottom:20px;">
			<i class="fa fa-map-signs" aria-hidden="true"></i> <%=link_to 'Create Class Schedule', devx.new_portal_classroom_class_schedule_path %>
		</div>

		<div class="col-12 columns">
			<table>
				<thead>
					<tr>
						<th>Schedule Name</th>
						<th>Description</th>
						<th>Start Time</th>
						<th>End Time</th>
						<th>&nbsp</th>
					</tr>
				</thead>

				<tbody>
					<%= render partial: 'class_schedule', collection: @class_schedules %>
				</tbody>
			</table>
		</div>

	</div>
</div>
