<% provide(:title, 'Create ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <%= link_to 'Back to Articles', devx.portal_articles_path %>
    </div>

    <div class="col-12 columns">
      <%= form_for @article, url: devx.portal_articles_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>