<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
	<div class="row">

		<div class="col-12 columns">
			<h1><%= yield(:title) %></h1>
		</div>

		<div class="col-12 columns" style="padding-bottom:20px;">
			<% if can? :new, Devx::Classroom %>
				<i class="fa fa-map-signs" aria-hidden="true"></i> <%=link_to 'Create Classroom', devx.new_portal_classroom_path %>
			<% end %>
		</div>

		<div class="col-12 columns">
			<table>
				<thead>
					<tr>
						<th>Class Name</th>
						<th># of Teachers</th>
						<th>Published</th>
						<th>&nbsp</th>
					</tr>
				</thead>

				<tbody>
					<%= render partial: 'classroom', collection: @classrooms %>
				</tbody>
			</table>
		</div>

	</div>
</div>
