<tr>
  <td><%= link_to administration.try(:full_name), devx.edit_portal_administration_path(administration) %></td>
  <td><%= administration.active %></td>
  <td>
    <%= link_to 'Edit', devx.edit_portal_administration_path(administration) %>
    <% if current_user.super_administrator? %>
      <%= link_to 'Delete', devx.portal_administration_path(administration), method: :delete, data: { confirm: "Are you sure you want to delete #{administration.try(:full_name)}?" } %>
    <% end %>
  </td>
</tr>