<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="col-12 columns" style="margin-bottom:30px">
          <%= form_tag devx.portal_documents_path, method: :post, id: 'document-dropzone', class: 'dropzone' do %>
            <div class="fallback">
              <%= file_field_tag :file %>
            </div>
          <% end %>
        </div>
        <div class="col-12 columns" style="padding-bottom:20px;">
            <div style="float:right;">
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i> Filter by</span>
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i>Arrange by</span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
            </div>
        </div>
        
        <div class="col-12 columns">
            <table width="100%">
                <thead>
                    <tr style="background-color:#ACCC38;">
                        <th style="color:#084269; padding:10px; text-align:left; width:50%;">Name</th>
                        <th style="color:#084269; padding:10px; text-align:left; width:50%;">Link</th>
                        <th style="color:#084269; padding:10px; text-align:left; width:50%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'document', collection: @documents %>
                </tbody>
            </table>
        </div>
    
    </div>

</div>