<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'javascript', collection: @javascripts %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <%= link_to 'Create Javascript', devx.new_portal_javascript_path %>
    </div>
  </div>
</div>
