<tr>
  <td><%= link_to registration.name, devx.portal_registration_path(registration) %></td>
  <td>
    <%= link_to 'Edit', devx.edit_portal_registration_path(registration) %>
    <%= link_to 'Delete', devx.portal_registration_path(registration), method: :delete, data: { confirm: "Are you sure you want to delete #{registration.name}?" } %>
  </td>
</tr>