<% provide(:title, 'Edit ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <%= link_to 'Back to users', devx.portal_users_path %>
      <%= form_for @user, url: devx.portal_user_path(@user) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>