<% provide(:title, 'Create ' + controller_name.classify.pluralize) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
<<<<<<< HEAD
    <div class="col-12 columns">
=======
    <div class="col-12">
>>>>>>> origin/master
      <%= link_to 'Back to users', devx.portal_users_path %>
      <%= form_for @user, url: devx.portal_users_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>