<% provide(:title, 'Edit ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="large-12">
      <%= link_to 'Back to calendar', devx.admin_calendar_path(@calendar) %>
      <%= form_for @event, url: devx.admin_calendar_event_path(@calendar, @event) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>