<div class="container">
	<div class="row">

		<div class="col-12 columns">
			<h1>Class Galleries</h1>
		</div>

		<div class="col-12 columns" style="padding-bottom:20px;">
			<i class="fa fa-map-signs" aria-hidden="true"></i> <%=link_to 'Create Class Gallery', devx.new_portal_classroom_class_gallery_path %>

			<div style="float:right;">
				<span style="padding:0; 10px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i> </span>
				<span style="padding:0; 10px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i> </span>
			</div>
		</div>

		<div class="col-12 columns">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Active</th>
						<th>Created At</th>
						<th>&nbsp</th>
					</tr>
				</thead>

				<tbody>
					<%= render partial: 'class_gallery', collection: @class_galleries %>
				</tbody>
			</table>
		</div>
						
	</div>
</div>